.aaa{
    height: 350px;
}
*{
    color: transparent;
}

.qqq{
    width: 25%;
    background-color: red;
}
.yyy{
    width: 50%;
    background-color: rgb(55, 0, 255);
}
.rrr{
    width: 70%;
    background-color: rgb(21, 255, 0);
}
.ddd{
    width: 80%;
    background-color: rgb(0, 110, 255);
}
.lll{
    width: 90%;
    background-color: rgb(255, 0, 255);
}
.hhh{
    width:95%;
    background-color: rgb(255, 145, 0);
}
.nnn{
    width: 100%;
    background-color: rgb(190, 169, 223);
}